{% extends "j60adm/base.html" %}
{% block title %}{{ person.title_and_name }}{% endblock %}
{% block content %}
<h1>{{ person }}</h1>

<ul>
{% for address in person.emailaddress_set.all %}
{% for message in address.emailmessage_set.all %}
{% if message.bounce %}{% else %}
<li><a href="mailto:{{ address.address }}">{{ address.address }}</a></li>
{% endif %}
{% endfor %}
{% endfor %}
</ul>

<textarea rows="100" cols="90">
Hej {{ person }}

Nu er sommeren ved at gå på hæld, og deadlinen for tilmelding til TÅGEKAMMERETs 60 års jubilæumsfest nærmer sig. Vi kan se, at du har tilmeldt dig, hvilket vi er rigtig glade for, men vi kunne godt tænke os at få endnu flere fra din(e) årgang(e) med. Derfor må du meget gerne tage fat i de mennesker, fra din(e) bestyrelse(r) og festudvalg, som endnu ikke har fået tilmeldt sig - og i endnu større grad dem, vi ikke har kunnet få fat på. Billetsalget lukker torsdag den 1. september, og billetter kan erhverves på http://www.TAAGEKAMMERET.dk/J60/billet/, mens mere information om jubilæumsugen og -festen findes på http://www.TAAGEKAMMERET.dk/J60.

Vi glæder os til at se dig!

På vegne af J60-udvalgets koordineringsgruppe
{{ user.first_name }} {{ user.last_name }}
{% for board in boards %}
Fra din bestyrelse {{ board.year }} har følgende endnu ikke købt billet:
{% for p in board.not_registered %}
{{ p.name }} &lt;{{ p.email }}&gt;{% endfor %}
{% if board.no_email %}
Følgende har vi ikke nogen emailadresse på, så dem har vi slet ikke haft email-kontakt til:
{% for p in board.no_email %}
{{ p.name }}{% endfor %}
{% endif %}{% if board.registered %}
Følgende har allerede købt billet:
{% for p in board.registered %}
{{ p.name }} &lt;{{ p.email }}&gt;{% endfor %}
{% endif %}{% endfor %}
</textarea>
{% endblock %}
