{% extends "j60adm/base.html" %}
{% load json %}
{% block title %}Personer{% endblock %}
{% block head %}
<script>

function replace_sups(s) {
	if (!/[⁰¹²³⁴⁵⁶⁷⁸⁹]/.exec(s)) return s;
	var sups = [].slice.call('⁰¹²³⁴⁵⁶⁷⁸⁹');
	for (var i = 0; i < sups.length; ++i) {
		s = s.replace(new RegExp(sups[i], 'g'), i + '');
	}
	return s;
}

function any_title(fn) {
	return function (person) {
		for (var i = 0; i < person.titles.length; ++i)
			if (fn(person.titles[i])) return true;
		return false;
	};
}

function any(conds) {
	return function (person) {
		for (var i = 0; i < conds.length; ++i)
			if (conds[i](person)) return true;
		return false;
	};
}

function startswith(x, y) {
	return x.substring(0, y.length) === y;
}

function search_in_search_text(v) {
	return function (person) {
		return person.search_text.indexOf(v.toLowerCase()) !== -1;
	};
}

function parse_search_term(v) {
	v = v.trim();
	if (v.length === 0) {
		return function (person) { return true; };
	}
	var mo = /^(?:(?:19|20)\d\d)$/.exec(v);
	if (mo !== null) {
		var period = parseInt(mo[0]);
		return any_title(
			function (title) {
				return title.period === period;
			});
	}
	var title_filter = '#CERM#EFUIT#FORM#INKA#KASS#NF#PR#SEKR';
	var mo = /^(G\*|G|B|O|TO|T\d+O|(?=[CEFIKNPS]))(.*)$/i.exec(v);
	if (mo !== null) {
		var prefix = mo[1].toUpperCase();
		var root = mo[2].toUpperCase();
		var ages = {'G*': null, '': 0, 'G': 1, 'B': 2, 'O': 3, 'TO': 4};
		var age;
		if (prefix.length <= 2) age = ages[prefix];
		else age = 3 + parseInt(prefix.substring(1, prefix.length - 1));
		if (prefix !== '' || title_filter.indexOf('#'+root) !== -1 || root === 'FU' || root === 'FUAN') {
			return any_title(
				function (title) {
					return (age === null || title.age === age) &&
						startswith(title.title, root);
				});
		}
	}
	return search_in_search_text(v);
}

function search_person_list(v, persons) {
	var matcher = parse_search_term(v);
	for (var i = 0; i < persons.length; ++i) {
		if (matcher(persons[i].data))
			persons[i].el.classList.remove('mismatch');
		else
			persons[i].el.classList.add('mismatch');
	}
}

function init() {
	var el = document.getElementById('person-list');
	var rows = el.tBodies[0].rows;
	var persons = [];
	for (var i = 0; i < rows.length; ++i) {
		var p = {
			'data': JSON.parse(rows[i].getAttribute('data-person')),
			'el': rows[i]
		};
		var text = [p.data.name];
		for (var j = 0; j < p.data.titles.length; ++j) {
			if (startswith(p.data.titles[j].title, 'FU'))
				text.push(p.data.titles[j].title);
		}
		p.data.search_text = text.join('#').toLowerCase();
		persons.push(p);
	}
	var searcher = document.getElementById('search');
	searcher.addEventListener(
		'keyup',
		function onkeyup(ev) {
			search_person_list(searcher.value, persons);
			return false;
		}, false);
}

window.addEventListener('load', init, false);
</script>
<style>
.mismatch { display: none; }
#person-list { width: 100%; }
</style>
{% endblock %}
{% block content %}
<h1>J60-gæsteliste</h1>
<p>
<a href="{% url 'letter_bounce' %}">Breve kommet retur</a>
</p>
<p>Tilmeldt nyhedsbrev, men har ikke købt billet: {{ only_newsletter }}</p>
<p>Søg: <input id="search" /></p>
<table id="person-list">
<thead>
<tr>
    <th>Titel</th><th>Navn</th>
    <th><a href="{% url 'email' %}">Emailadresse</a></th>
    <th><a href="{% url 'registration_list' %}">Billetsalg</a></th>
    <th><a href="{% url 'survey_response_list' %}">Nyhedsbrev</a></th>
    <th>Note</th>
</tr>
<tbody>
{% for person in object_list %}
<tr data-person="{{ person.dump|json }}">
<td>
<ul class="title-list">
{% for t in person.title_set.all %}
<li data-title="{{ t.dump|json }}">
<span class="title-prefix">{{ t.prefix }}</span><span class="title-title">{{ t.title }}</span></li>
{% endfor %}
</ul>
<td>
<a href="{% url 'person_detail' pk=person.pk %}">
{{ person }}</a></td>
<td>
{% for e in person.emailaddress_set.all %}
<span title="{{ e.source }}">
{{ e.address }}
</span>
{% for m in e.emailmessage_set.all %}
<span title="{{ m.created_time }}">
{% if m.bounce %}
X
{% else %}
&#x2713;
{% endif %}
</span>
{% endfor %}
{% endfor %}
</td>
<td>
{% for r in person.registration_set.all %}
{{ r.get_show_display }}
{% endfor %}
</td>
<td>
{% for r in person.surveyresponse_set.all %}
{% if r.newsletter %}
Ja tak
{% else %}
Nej tak
{% endif %}
{% endfor %}
</td>
<td>
<form method="post" action="{% url 'person_note_update' person=person.id %}">
{% csrf_token %}
{{ person.note }}
<input name="note" value="{{ person.note }}" type="hidden" />
<a href="{% url 'person_note_update' person=person.id %}"
onclick="var s = prompt('Note', this.parentNode.note.value);
   if (s !== null) {
    this.parentNode.note.value = s;
    this.parentNode.submit();
   }; return false">+</a>
</form>
</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
