{% extends "j60adm/base.html" %}
{% block title %}Billetsalg{% endblock %}
{% block head %}
<style>
.reg-time { white-space: nowrap; }
.reg-name { min-width: 150px; }
</style>
{% endblock %}
{% block content %}
<h1>Billetsalg</h1>
<p><a href="{% url 'registration_import' %}">Importér CSV</a></p>
<p><a href="{% url 'registration_person' %}">Angiv titler</a></p>
<table>
<thead>
<tr><th>Forestilling</th><th>Gæster (faktisk)</th>
<th>Gæster (webshop)</th><th>Webshop-grænse</th></tr>
</thead>
<tbody>
{% for o in counts %}
<tr>
<td>{{ o.label }}</td>
<td>{{ o.count }}</td>
<td>{{ o.webshop_count }}</td>
<td>{{ o.webshop_limit }}</td>
</tr>
{% endfor %}
</tbody>
</table>

<h2>Gæsteliste</h2>
<table class="wide-table">
<thead>
<tr>
<th><a href="?o=time">ID</a></th>
<th>Købstidspunkt</th>
<th><a href="?">Navn</a></th>
<th>Titel</th>
<th>Email</th>
<th><a href="?o=show">Revy</a></th>
<th><a href="?o=dietary">Særlig kost</a></th>
<th><a href="?o=transportation">Transport</a></th>
<th>Nyhedsbrev</th>
</tr>
</thead>
<tbody>
{% for registration in object_list %}
<tr>
<td>{{ registration.survey_id }}</td>
<td class="reg-time">{{ registration.time }}</td>
<td class="reg-name">{{ registration.name }}</td>
<td>
{% if registration.person %}
{% for t in registration.person.title_set.all %}
{{ t }}
{% endfor %}
{% else %}
<a href="{% url 'registration_person' %}">?</a>
{% endif %}
</td>
<td>{{ registration.email }}</td>
<td>{{ registration.get_show_display }}
{% if registration.show != registration.webshop_show %}
(webshop: {{ registration.get_webshop_show_display }})
{% endif %}
</td>
<td class="dietary">{{ registration.dietary }}</td>
<td>
{% if registration.transportation %}
Ja tak
{% endif %}
</td>
<td>
{% if registration.newsletter %}
Ja tak
{% endif %}
</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
