{% extends "base.html" %}
{% block title %}Personer{% endblock %}
{% block content %}
<h1>J60-gæsteliste</h1>
<p>
<a href="{% url 'letter_bounce' %}">Breve kommet retur</a>
</p>
<table>
<thead>
<tr>
    <th>Titel</th><th>Navn</th>
    <th><a href="{% url 'email' %}">Emailadresse</a></th>
    <th><a href="{% url 'registration_list' %}">Billetsalg</a></th>
    <th><a href="{% url 'survey_response_list' %}">Nyhedsbrev</a></th>
    <th>Note</th>
</tr>
<tbody>
{% for person in object_list %}
<tr>
<td>
{% for t in person.title_set.all %}
{{ t }}
{% endfor %}
</td>
<td>{{ person }}</td>
<td>
{% for e in person.emailaddress_set.all %}
<span title="{{ e.source }}">
{{ e.address }}
</span>
{% for m in e.emailmessage_set.all %}
<span title="{{ m.created_time }}">
{% if m.bounce %}
X
{% else %}
&#x2713;
{% endif %}
</span>
{% endfor %}
{% endfor %}
</td>
<td>
{% for r in person.registration_set.all %}
{{ r.get_show_display }}
{% endfor %}
</td>
<td>
{% for r in person.surveyresponse_set.all %}
{% if r.newsletter %}
Ja tak
{% else %}
Nej tak
{% endif %}
{% endfor %}
</td>
<td>
<form method="post" action="{% url 'person_note_update' person=person.id %}">
{% csrf_token %}
{{ person.note }}
<input name="note" value="{{ person.note }}" type="hidden" />
<a href="{% url 'person_note_update' person=person.id %}"
onclick="var s = prompt('Note', this.parentNode.note.value);
   if (s !== null) {
    this.parentNode.note.value = s;
    this.parentNode.submit();
   }; return false">+</a>
</form>
</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
