{% extends "base.html" %}
{% load json %}
{% load staticfiles %}
{% block title %}Nyhedsbrev-tilmeldinger{% endblock %}
{% block head %}
<script type="text/javascript" src="{% static 'index.js' %}"></script>
<script type="text/javascript" src="{% static 'person_complete.js' %}"></script>
{% endblock %}
{% block content %}
<h1>Nyhedsbrev-tilmeldinger</h1>
<p><a href="{% url 'survey_response_import' %}">Importér CSV</a></p>
<form method="post">{% csrf_token %}
<table>
<thead>
<tr>
<th>Titel</th>
<th>Navn</th>
<th>Person</th>
<th>Ønsker nyhedsbrev</th>
</tr>
</thead>
<tbody>
{% for response in object_list %}
<tr>
<td>{{ response.title }}</td>
<td>{{ response.name }}</td>
<td>
<input size="10" name="object_{{ response.id }}"
value="{{ response.person_id|default_if_none:'' }}"
data-person-complete="{{ response.dump|json }}"
/>
</td>
<td>
{% if response.newsletter %}
Ja tak
{% else %}
Nej tak
{% endif %}
</td>
</tr>
{% endfor %}
</tbody>
</table>
<input type="submit" value="Gem ændringer" />
</form>
<ul id="person-list">
{% for person in person_list %}
<li data-person="{{ person.dump|json|escape }}">
{{ person.id }}:
{% for title in person.title_set.all %}
{{ title }}
{% endfor %}
{{ person.name }}
</li>
{% endfor %}
</ul>
{% endblock %}
